html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #141f39;
  color: #e5e7eb;
}

* {
  box-sizing: border-box;
}

/* Navigation Styling */


.nav-link:hover {
  cursor: pointer;
  color: rgb(145, 173, 221);
  border-bottom: #878d9b60 2px solid;
  width: 60%;
}